html {
  font-size: 16px;
}

@font-face {
  font-family: PocketMonk;
  src: url(/Users/oliveroquist/Documents/pokedex/Font/PocketMonk.otf) format("opentype");
}
* {
  color: white;
  font-family: "PocketMonk", sans-serif;
}

body {
  background: rgb(33, 33, 40);
  background: linear-gradient(90deg, rgb(61, 55, 55) 5%, rgb(121, 12, 9) 47%, rgb(255, 229, 0) 100%);
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.container .shiny-button {
  font-size: 1.115rem;
  border-color: #ffde00;
  background-color: #3B4CCA;
  color: #ffde00;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.5em 1em;
}
@media screen and (max-width: 700px) {
  .container .shiny-button {
    display: flex;
    position: unset;
    margin-bottom: 10px;
    font-size: medium;
    padding: 5px 30px 5px 30px;
  }
}
.container #scroll-top-button {
  font-size: 1.115rem;
  border-color: #ffde00;
  background-color: #3B4CCA;
  color: #ffde00;
  padding: 0.5em 1em;
  cursor: pointer;
}

#pokedex {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 0;
}
@media screen and (max-width: 1000px) {
  #pokedex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (max-width: 700px) {
  #pokedex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.pokemon-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: rgb(62, 58, 58);
  list-style-type: none;
  margin: 0.5em;
  -webkit-transition: transform 0.3s ease-in-out;
  position: relative;
}
.pokemon-card:hover {
  transform: scale(1.1);
}
.pokemon-card .card-tooltip {
  font-family: fantasy;
  visibility: hidden;
  position: absolute;
  font-size: 14px;
  z-index: 1;
  width: 130px;
  background-color: #464646;
  border-radius: 10px;
  padding: 10px;
  bottom: 100%;
  font-size: larger;
}
.pokemon-card:hover .card-tooltip {
  visibility: visible;
}
.pokemon-card .card-image {
  min-height: 50%;
  max-width: 100%;
  padding-top: 0.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.pokemon-card .card-title {
  font-size: 1.45rem;
}
.pokemon-card .card-subtitle {
  padding-bottom: 0.5rem;
}

.pokemon-logo {
  height: auto;
  width: 300px;
  margin-top: 10px;
  cursor: pointer;
}

.regions-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .regions-container {
    padding: 10px 0px 10px 0px;
  }
}
.regions-container h2:hover {
  color: #3B4CCA;
  cursor: pointer;
}

.search-pokemon {
  color: #464646;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: fantasy;
}
.search-pokemon:input {
  color: #464646;
  background-color: #ffde00;
}
.search-pokemon:focus {
  outline: none;
}

/*# sourceMappingURL=output.css.map */
