@font-face {
    font-family: PocketMonk;
    src: url(/Users/oliveroquist/Documents/pokedex/Font/PocketMonk.otf) format("opentype");
}

* {
    color: white;
    font-family: 'PocketMonk', sans-serif;
}

body {
    background: rgb(33,33,40);
    background: linear-gradient(90deg, rgba(33,33,40,1) 5%, rgba(121,12,9,1) 47%, rgba(255,229,0,1) 100%);
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    #shiny-button {
        font-size: large;
        border-color: #ffde00;
        background-color: #3B4CCA;
        color: #ffde00;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px 30px 10px 30px;
    }

    #scroll-top-button {
        font-size: large;
        border-color: #ffde00;
        background-color: #3B4CCA;
        color: #ffde00;
        padding: 10px 30px 10px 30px;
    }
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;
    margin: auto;

    @media screen and (max-width : 1000px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    @media screen and (max-width : 700px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.pokemon-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: rgb(62, 58, 58);
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    -webkit-transition: transform 0.3s ease-in-out;
    position: relative;

    &:hover {
        transform: scale(1.1);
    }
    .card-tooltip {
        font-family: fantasy;
        visibility: hidden;
        position: absolute;
        font-size: 14px;
        z-index: 1;
        width: 130px;
        background-color: #464646;
        border-radius: 10px;
        padding: 10px;
        bottom: 100%;
        font-size: larger;
    }

    &:hover .card-tooltip {
        visibility: visible;
    }
}

.card-image {
    height: 125px;
    width: auto;
    cursor: pointer;
}

#pokemon-logo {
    height: auto;
    width: 300px;
    margin-top: 10px;
}

#regions-container {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;

        @media screen and (max-width : 700px) {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    }

    h2 {
        &:hover {
            color: #3B4CCA;
            cursor: pointer;
        }
    }
}

#search-pokemon {
    color: #464646;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: fantasy;

    &:input {
        color: #464646;
        background-color: #ffde00;
    }
    &:focus {
        outline: none;
    }
}
