@font-face {
    font-family: PocketMonk;
    src: url(/Users/oliveroquist/Documents/pokedex/Font/PocketMonk.otf) format("opentype");
}

* {
    color: white;
    font-family: 'PocketMonk', sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 58, 58);
    position: relative;

    #shiny-button {
        border-color: #ffde00;
        background-color: #3B4CCA;
        color: #ffde00;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px 20px 10px 20px;
    }
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;
    margin: auto;

    @media screen and (max-width : 1000px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    @media screen and (max-width : 700px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.pokemon-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: rgb(62, 58, 58);
    list-style-type: none;
    padding: 10px;
    margin: 10px;

}

#pokemon-logo {
    height: auto;
    width: 300px;
    margin-top: 10px;
}

.card-image {

}