* {
    background-color: rgb(62, 58, 58);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pokedex {
    display: grid;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;
}

.pokemon-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: white;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

.card-image {

}
